/.metadata/
idea/
7wonders/statsserver/stats.txt

7wonders/statsserver/stats.csv

7wonders/target/sonar/.sonar_lock
7wonders/target/**
7wonders/target/sonar/report-task.txt

*.csv
.idea/M1-S1-7W-top4-1.iml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml

7wonders/report/target

*.iml

7wonders/commun/stdout.log

7wonders/commun/stderr.log

7wonders/statsserver/stderr.log

7wonders/statsserver/stdout.log

7wonders/gameserver/stdout.log

7wonders/stdout.log

7wonders/gameserver/stderr.log

7wonders/stderr.log
